.Firebase{
    border:1px solid black;
    width:1000px;
    text-align:center;
   

  

}
.Title-Fb{

    font-size: 52px;
     font-weight:5000;
     line-height: 60px;
     text-align:center;
}
.Paragraf-Fb{

    font-size:24px;
     font-weight: 400;
     line-height: 30px;
     text-align:center;
}

.Icons-Fb{

    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.Stream_Img{
   border:1px solid white;
;
    margin-top:90px;

  height:130px;
}
.Algolia_Img{

    border:1px solid white;
  
    margin-top:90px;
  height:130px;
}
.Trigger_Img{
    border:1px solid white;
  
    margin-top:90px;
  height:130px;
}
.Payments_Img{
    border:1px solid white;
   
    margin-top:90px;
   
  height:130px;
}
.Paragraf_Icons{

    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.Icons-Stream{

    font-size: 18px;
     font-weight: 400px;
      line-height: 28px;
      

}

.Icons-Algolia{
    font-size: 18px;
    font-weight: 400px;
     line-height: 28px;

}
.Icons-Trigger{
    font-size: 18px;
    font-weight: 400px;
     line-height: 28px;
}
.Icons-Payments{

    font-size: 18px;
    font-weight: 400px;
     line-height: 28px;
}
.Button-Fb{
    
   background-color: blue rgb(26, 115, 232);
   border-radius:12px;
   margin:0;
}

.Button{

    color:white;
   font-weight:700;
    
}
.Footer-Fb{

    text-align:center;
}